extends layout

block content
    .col-md-12.col-sm-12.col-xs-12
        .panel-body
            div.myBounties
                h2.myBountiesLabel My Bounties
                .tab-content
                    #tab1.tab-pane.active
                        - let question = questions[12]
                        //each question in questions
                        // Question Listing
                        .listing-grid
                            .row
                                .col-md-2.col-sm-2.col-xs-12.hidden-xs
                                    a(data-toggle="tooltip" data-placement="bottom" data-original-title=question.owner.display_name href=question.owner.link)
                                    img.img-responsive.center-block(alt="" src=question.owner.profile_image)
                                .col-md-7.col-sm-8.col-xs-12
                                    h3
                                    a(href=question.link)  #{question.title}
                                    .listing-meta
                                        span
                                            i.fa.fa-clock-o(aria-hidden="true")
                                            | #{question.creation_date}
                                        span
                                            i.fa.fa.fa-eye(aria-hidden="true")
                                            |  #{question.view_count} Views
                                .col-md-3.col-sm-2.col-xs-12
                                    ul.question-statistic
                                        button.answerBtnLg(type='button', data-toggle='modal', data-target='#answerModal') Answer
                                        li.active
                                            a(data-toggle="tooltip" data-placement="bottom" data-original-title="Answers")
                                            span #{question.answer_count}
                                        li
                                            a(data-toggle="tooltip" data-placement="bottom" data-original-title="Score")
                                            span #{question.score}
                                .col-md-10.col-sm-10.col-xs-12
                                    button.revokeBtn Revoke
                                    button.reviewBtn(type='button', data-toggle='modal', data-target='#reviewModal') Review &amp; Reward...
                                    .pull-right.tagcloud
                                        each tag in question.tags
                                            a(href="") #{tag}
                    // Question Listing End
                    // Pagination View More
                    .text-center.clearfix
                    // Pagination View More End

        div.bottom

            div.allBounties
                h2.allBountiesLabel All Bounties
                div.bountyBox
                    each question in questions.slice(8,14)
                        .listing-grid
                            .row
                                .col-md-2.col-sm-2.col-xs-12.hidden-xs
                                    a(data-toggle="tooltip" data-placement="bottom" data-original-title=question.owner.display_name href=question.owner.link)
                                    img.img-responsive.center-block(alt="" src=question.owner.profile_image)
                                .col-md-7.col-sm-8.col-xs-12
                                    h3
                                    a(href=question.link)  #{question.title}
                                    .listing-meta
                                        span
                                            i.fa.fa-clock-o(aria-hidden="true")
                                            | #{question.creation_date}
                                        span
                                            i.fa.fa.fa-eye(aria-hidden="true")
                                            |  #{question.view_count} Views
                                .col-md-3.col-sm-2.col-xs-12
                                    ul.question-statistic
                                        li.active
                                            a(data-toggle="tooltip" data-placement="bottom" data-original-title="Answers")
                                            span #{question.answer_count}
                                        li
                                            a(data-toggle="tooltip" data-placement="bottom" data-original-title="Score")
                                            span #{question.score}
                                                        div.answers
                                        button.answerBtnSm(type='button', data-toggle='modal', data-target='#answerModal') Answer

            div.allQuestions
                h2.allQuestionsLabel All Questions
                //p Question
                //button Start a Bounty
                div.questionBox
                    each question in questions
                        .listing-grid
                            .row
                                .col-md-2.col-sm-2.col-xs-12.hidden-xs
                                    a(data-toggle="tooltip" data-placement="bottom" data-original-title=question.owner.display_name href=question.owner.link)
                                    img.img-responsive.center-block(alt="" src=question.owner.profile_image)
                                .col-md-7.col-sm-8.col-xs-12
                                    h3
                                    a(href=question.link)  #{question.title}
                                    .listing-meta
                                        span
                                            i.fa.fa-clock-o(aria-hidden="true")
                                            | #{question.creation_date}
                                        span
                                            i.fa.fa.fa-eye(aria-hidden="true")
                                            |  #{question.view_count} Views
                                .col-md-3.col-sm-2.col-xs-12
                                    ul.question-statistic
                                        li.active
                                            a(data-toggle="tooltip" data-placement="bottom" data-original-title="Answers")
                                            span #{question.answer_count}
                                        li
                                            a(data-toggle="tooltip" data-placement="bottom" data-original-title="Score")
                                            span #{question.score}
                                .col-md-10.col-sm-10.col-xs-12
                                    button( type='button', data-toggle='modal', data-target='#bountyModal') Start a Bounty

        // Modals

        div#answerModal.modal.fade
            div.modal-dialog(role='document')
                div.modal-content
                    div.modal-header
                        h3.modal-title Submit Answer
                        button.close(type='button', data-dismiss='modal', aria-label='close')
                            span(aria-hidden='true') &times;
                    div.modal-body
                        form(id='submitAnswerForm' action='' method='')
                            textarea(name='modalAnswerText' cols='68' rows='8')
                    div.modal-footer
                        button.btn.btn-primary(type='button') Save Changes
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

        div#bountyModal.modal.fade
            div.modal-dialog(role='document')
                div.modal-content
                    div.modal-header
                        h3.modal-title Start a Bounty
                        button.close(type='button', data-dismiss='modal', aria-label='close')
                            span(aria-hidden='true') &times;
                    div.modal-body
                        form(id='submitBountyForm' action='' method='')
                            div.bountyInputFields
                                fieldset
                                    label Amount of ether to commit
                                    input(type='number' step='1' min='0').pull-right
                                fieldset
                                    label Expiration time for ether (in days)
                                    input(type='number' step='0.5' min='0').pull-right
                    div.modal-footer
                        button.btn.btn-primary(onClick="startBounty('"+question.title+"','"+question.owner.user_id+"','"+question.link+"',"+question.question_id+")" type='button' data-dismiss='modal') Initiate
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close

        div#reviewModal.modal.fade
            div.modal-dialog(role='document')
                div.modal-content
                    div.modal-header
                        h3.modal-title Review Bounty
                        button.close(type='button', data-dismiss='modal', aria-label='close')
                            span(aria-hidden='true') &times;
                    div.modal-body
                        span.bountyAmount Ether: 0.004
                        br
                        div.answer
                            p.answer Answer
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        div.answer
                            p.answer Answer
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        div.answer
                            p.answer Answer
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    div.modal-footer
                        button.btn.btn-primary(type='button') Accept Answer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
